
body{
    font-family: "Press Start 2P", Arial;
    box-sizing: border-box;
    margin: 50px 0;
    /*border : 5px solid blue;*/
    font-size: 17px;
    
}
.container{
    display: flex;
    /*border: 2px dashed navajowhite ;*/
}


.side{
    height: 1000px;
    width: 30%;
    color: yellow;
    /*border: 2px dotted palegreen;*/

}

main{
    text-align: center;
    width: 40%;

}
.nes-table-responsive{
    margin-left: 5px;
    align-content: center;
    /*border: 2px solid brown;*/
    width: 75%;
    flex: 1;
}
#id_name{
    height: 30px;
}
#id_country{
    width: 100%;
}
.highscore{
    /*border: 5px dashed teal;*/
    padding: 5px;
    display: flex;
}
.table_side{
    width: 10%;
    /*border: 5px solid chartreuse;*/
}
#flaticon {
    margin-top: 20px;
}
h2{
    font-size: 40px;
}
.dark-mode {
    background-color: black;
    color: white;
  }

.nes-table td, .nes-table th {
    font-size: 20px;
}


.nes-table{
    width: 100%;
}
#dark_button:hover{
    color: tomato;
}

@media screen and (max-width: 992px) {
    body{
        font-size: 10px;
    }
    .container{
        justify-content: center;
    }
    main{
        width: 80%;
    }
    .side{
      width: 0;  
      background-color: chartreuse;
    } 
    .table_side{
        width: 0;
    }
    .nes-table td, .nes-table th{
        font-size: 10px;
    }
    h2{
        font-size: 20px;
    }
    

    #flaticon p{
        margin-top: 10px;
        font-size: 6px;
    }
    #id_name, #id_country{
        font-size: 12px;
        width: 300px;
        height: 20px;
    }
    .nes-table{
        margin: 0px auto
    }
    img{
        width: 35px;
    }
}