{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../../static/yilmaz/css/base.css">
    <link href="../../static/yilmaz/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Schere, Stein, Papier</title>
</head>
<body>
<script src="../../static/yilmaz/js/dark_mode.js"></script>
<div class="container">
    <!--<div class="side"><button onclick="button_switch()" id="dark_button">dark mode</button></div>-->
    <div class="side"></div>
    <main>
        {% block content %}


        INSERT YOUR CONTENT HERE

        {% endblock content %}
    </main>
    <div class="side"></div>
</div>
</body>
</html>