{% extends 'yilmaz/base.html' %}
{% load static %}
{% block content %}

<form method="POST" action="create_player">
{%csrf_token%}
    <h1>Spieler anlegen:</h1>
    {% if error %}
    <br>
    <span class="nes-text is-error">{{error}}</span>
    <br>
    {% endif %}
    {{form}} 
    <br>
    
    <input type="submit" name="abschicken" value="Senden">
</form>
{% endblock content %}
