{% extends 'yilmaz/base.html' %}
{%load static from staticfiles %
{% block content %}

  <h1>Schere, Stein, Papier</h1></br>
  <form method="POST">
    <p>Spiele gegen den Computer</p>
  {% csrf_token %}
      {% for key, value in context.items %}
    <p>{{key}}: {{value}}</p>
      
  {% endfor %}
    <label>
      <input type="radio" class="nes-radio" name="answer" checked value="0"/>
      <span>Schere</span>
    </label>
    <br>
    <label>
      <input type="radio" class="nes-radio" name="answer" checked value="1"/>
      <span>Stein</span>
    </label>
    <label>
      <input type="radio" class="nes-radio" name="answer" checked value="2"/>
      <span>Papier</span>
    </label>
    <br>
    <input type="submit" name="wahl_abschicken" value="wahl_abschicken">
    <br>
  </form>
{% endblock content %}



