{% extends 'yilmaz/base.html' %}
{% load static %}
{% block content %}

<h1>Game Over</h1><br>

<button><a href={% url 'startpage' %}>Zur Startseite</a></button>
<br>
<br>
<div class="highscore">
    <div class="table_side"></div>
    <div class="nes-table">
        <table class="nes-table">
            <thead>
                <tr>
                    <th scope="col">Rang</th>
                    <th scope="col">Land</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>                    
                </tr>
            </thead>
            <tbody>
            <!-- ränge der Highscore Liste funtioniert nicht-->
        {% for item in context %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td><img src="{{item.country.flag}}"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.score}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table_side"></div>
    
</div>
<div id="flaticon" style="font-size: 10px;color:lightgrey;">
    <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
</div>
{% endblock content %}