{% extends 'yilmaz/base.html' %}
{% load static %}
{% block content %}


<h1 class="text-center">Willkommen</h1>
<br>
<p class="text-center">Bereit?</p><br> 
<form>
{% csrf_token %}
    
    <a class="nes-btn"  href="{% url 'create_player' %}">Lets Play</a><br>
    <br>
    <h2 class="text-center">Top 3</h2>
    <section class="icon-list">
        <!-- trophy -->
        <i class="nes-icon trophy is-large"></i>
    </section>
    <br>
    
    <div class="highscore">
    {% if count > 0 %}
        <div class="table_side"></div>
        <div class="nes-table">
            <table class="nes-table">
                <thead>
                    <tr>
                        <th scope="col">Rang</th>
                        <th scope="col">Land</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>                    
                    </tr>
                </thead>
                <tbody>
            {% for item in context %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <td><img src="{{item.country.flag}}"></td>
                        <td>{{item.name}}</td>
                        <td>{{item.score}}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table_side"></div>
    {% else%}
        <p>Du bist der/die Auserwählte, spiele als erste Person.</p>
    {% endif %}
    </div>

    
</form>
{% endblock content %}